keycloak.localhost {
    reverse_proxy http://keycloak:8080
    tls internal
}

whoami.localhost {
    reverse_proxy http://gatekeeper
    tls internal
}

# Serve caddy's generated cert for gatekeeper to pick up
caddy.localhost {
    file_server /root.crt {
        root /data/caddy/pki/authorities/local/
    }
}